html {
  box-sizing: border-box;
}

body {
  background-color: hsl(25, 91%, 57%);
}

:root {
  --pomodoro: #f5812e;
  --shortBreak: #4f567d;
  --longBreak: #5e7656;
}

.todo1 {
  position: absolute;
  top: 40%;
  left: 40%;
}

#timer{
  font-size: 1000%;
  font-family: "Lato", sans-serif;
}

.btn {
  border: none;
  color: black;
  padding: 14px 28px;
  cursor: pointer;
  border-radius: 5px;
}

.secondary {
  background-color: rgba(255, 255, 255, 0.356);
  border: 2px solid #e7e7e76b;
} 
.secondary:hover {background: #dddddd7a; 
  color: rgba(255, 255, 255, 0.486);
}

.pomo {
  background-color: #f5812e;
  border: 2px solid #e7e7e76b;
} 
.pomo:hover {
  background: #f5812e;
}

.des {
  background-color: #4f567d;
  border: 2px solid #e7e7e76b;
} 
.des:hover {
  background: #4f567d;
}

.lar {
  background-color: #5e7656;
  border: 2px solid #e7e7e76b;
}
.lar:hover {
  background: #5e7656;
}

.flechas {
  position: absolute;
  top: 80%;
  left: 47%;
}

.flechas img {
  width: 25%;
  animation: parpadeo 2s infinite;
}

@keyframes parpadeo {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.imagen-parpadeo {
  /* animation: parpadeo 1s infinite; */
}