html {
  box-sizing: border-box;
  scroll-snap-type: y mandatory;
}

body {
  background-color: hsl(25, 91%, 57%);
  overflow-x: hidden;
}

:root {
  --pomodoro: #f5812e;
  --shortBreak: #4f567d;
  --longBreak: #5e7656;
}

.primer-pomodoro{
  height: 100vh;
  width: 100%;
}

.segundo-pomodoro{
  height: 100vh;
  width: 100%;
}

div[class$="pomodoro"] {
  scroll-snap-align: start;
scroll-snap-stop: always;
} 

.todo1 {
  position: relative;
  top: 30%;
  left: 35%;
}

#timer{
  font-size: 1000%;
  font-family: "Lato", sans-serif;
}

.btn {
  border: none;
  color: black;
  padding: 14px 28px;
  cursor: pointer;
  border-radius: 5px;
}

.secondary {
  background-color: rgba(255, 255, 255, 0.356);
  border: 2px solid #e7e7e76b;
} 
.secondary:hover {background: #dddddd7a; 
  color: rgba(255, 255, 255, 0.486);
}

.pomo {
  background-color: #f5812e;
  border: 2px solid #e7e7e76b;
} 
.pomo:hover {
  background: #f5812e;
}

.des {
  background-color: #4f567d;
  border: 2px solid #e7e7e76b;
} 
.des:hover {
  background: #4f567d;
}

.lar {
  background-color: #5e7656;
  border: 2px solid #e7e7e76b;
}
.lar:hover {
  background: #5e7656;
}

.flechas {
  position: relative;
  top: 40%;
  left: 47%;
}

.flechas img {
  width: 7%;
  animation: parpadeo 2s infinite;
}

@keyframes parpadeo {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.tareas {
  scroll-snap-stop: always;
}

.todo2 {
  display: flex;
  position: relative;
  top: 30%;
  left: 35%;
}

.porHacer{
  height: 95vh;
  width: 33%;
  background-color: blueviolet;
  border-radius: 1%;
}