html {
  box-sizing: border-box;
  scroll-snap-type: y mandatory;
}

body {
  background-color: hsl(25, 91%, 57%);
  overflow-x: hidden;
}

:root {
  --pomodoro: #f5812e;
  --shortBreak: #4f567d;
  --longBreak: #5e7656;
}

.primer-pomodoro{
  height: 100vh;
  width: 100%;
}

.segundo-pomodoro{
  height: 100vh;
  width: 100%;
  display: flex;
}

div[class$="pomodoro"] {
  scroll-snap-align: start;
scroll-snap-stop: always;
} 

.todo1 {
  position: relative;
  top: 30%;
  left: 35%;
}

#timer{
  font-size: 1000%;
  font-family: "Lato", sans-serif;
}

.btn {
  border: none;
  color: black;
  padding: 14px 28px;
  cursor: pointer;
  border-radius: 5px;
}

.secondary {
  background-color: rgba(255, 255, 255, 0.356);
  border: 2px solid #e7e7e76b;
} 
.secondary:hover {background: #dddddd7a; 
  color: rgba(255, 255, 255, 0.486);
}

.pomo {
  background-color: #f5812e;
  border: 2px solid #e7e7e76b;
} 
.pomo:hover {
  background: #f5812e;
}

.des {
  background-color: #4f567d;
  border: 2px solid #e7e7e76b;
} 
.des:hover {
  background: #4f567d;
}

.lar {
  background-color: #5e7656;
  border: 2px solid #e7e7e76b;
}
.lar:hover {
  background: #5e7656;
}

.flechas {
  position: relative;
  top: 40%;
  left: 47%;
}

.flechas img {
  width: 7%;
  animation: parpadeo 2s infinite;
}

@keyframes parpadeo {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.porHacer{
  position: relative;
  top: 2.4%;
  margin-right: 1%;
  margin-left: 0.52%;
  background-color: rgba(255, 255, 255, 0.514);
  height: 95%;
  width: 33%;
  border-radius: 1%;
  border: 2px solid #000;
}
.haciendo{
  position: relative;
  top: 2.4%;
  margin-right: 1%;
  background-color: rgba(255, 255, 255, 0.514);
  height: 95%;
  width: 32%;
  border-radius: 1%;
  border: 2px solid #000;
}

.hecho{
  position: relative;
  top: 2.4%;
  background-color: rgba(255, 255, 255, 0.514);
  height: 95%;
  width: 32%;
  border-radius: 1%;
  border: 2px solid #000;
}

.tarea{
  margin-top: 3%;
  margin-left: 2.3%;
  background-color: rgba(255, 255, 255, 0.829);
  border-radius: 2%;
  height: 10%;
  width: 95%;
  cursor: grab;
}

.task {
  display: flex;
  align-items: center;
  width: 100%;
  height: 150px;
  margin-top: 30px;
  border: 1px solid beige;
  justify-content: center;
  flex-direction: column;
  cursor: grab;
}

.divTask{
  width: 340px;
    height: 600px;
    background-color: red;
    border-radius: 50px;
    overflow-y: auto;
    max-height: 600px;
}