
 
 html {
    box-sizing: border-box;
    
  }

  body{
    background-color: hsl(25deg 91% 57%);
  }
 
  :root {
    --pomodoro: hwb(25 18% 4%);
    --shortBreak: hsl(231, 23%, 40%);
    --longBreak: hsl(105, 16%, 40%);
  }

  #timer{
    position: absolute;
    top: 40%;
    left: 40%;
    font-size: 1000%;
    font-family: 'Lato', sans-serif;
  }


  
